VITE_SUPABASE_URL=https://lbvdtzfhznnmvkkfzimp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxidmR0emZoem5ubXZra2Z6aW1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4OTU1NDMsImV4cCI6MjA3MDQ3MTU0M30.Jeh3ChKutKd0lzpe0Wri5gu1_VDg86eE0ldpoVnj3yU